/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 78px;
    padding-top: 60px;
}

h2{
    font-size: 42px;
    padding-top: 120px;
}

h4{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

h5{
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}

h6{
    font-size: 15px;
    font-weight: 400;
}

.punti-salienti{
    font-size: 15px;
    font-weight: bold;
    margin: 30px;

}
.sub-price{
    font-size: 15px;
    
    margin: 20px;
}
/* COMMON */
.container-big{
   max-width: 1200px;
   margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
   
}

.row-hero{
    display: flex;
}

li{
    list-style: none;
    padding: 15px;
}

.primary-button{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: #0061ff;
    font-size: 15px;
}
.secondary-button{
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 15px;
}

/* MAIN */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.header-left ul{
    display: flex;
    align-items: center;
}

.header-right ul{
    display: flex;
    align-items: center;
    
}

.hero{
    background-color: #b4d0e7;
}

.row-hero{
    margin-top: 10px;
}
.col-1-hero{
    width: 30%;
}

.col-2-hero{
    width: 70%;
}

.col-2-hero img{
    width: 100%;
    position: relative;
    
}

.annulla{
    
    margin-top: 30px;
}

.col-1-hero .primary-button{
    margin-top: 30px;
    font-size: 18px;
    
}

.fa-arrow-down{
    margin-top: 90px;
    font-size: 50px;
    
}

.row-hero{
    position: relative;
    bottom: -65px;
}

.radio{
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio span{
    padding-right: 20px;
}

.mensile{
    display: inline-block;
    margin-right: 20px;
}

.annuale{
    display: inline-block;
}

.checkbox{
    margin-top: 30px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.colonna-1{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-2{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-3{
    width: 30%;
    border: 1px solid lightgrey;
}

.colonna-4{
    width: 100%;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
}


.col-header{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.plan-details{
    padding: 10px;
}

hr{
    width: 60px;
    border: 0.2px solid lightgrey;
}

.fa-check{
    color: #0061ff;
    font-weight: bolder;
}

.features .primary-button{
    width: 100%;
}

.row-sub-plans{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.team-solutions{
    padding: 0;
    margin: 20px;
    max-width: 70%;
}

.col-sub-1{
    width: 50%;
}

.col-sub-2 .primary-button{
    padding: 10px 35px;
    margin-right: 20px;
}

.team-solutions span{
    margin-top: 10px;
    
}

.partner{
    display: flex;
}

.col-left-partner{
    width: 60%;
    margin-top: 60px;
}

.col-left-partner img{
    width: 100%;
}

.col-right-partner{
    width: 40%;
    margin-top: 100px;
}

.col-right-partner p{
    padding-left: 40px;
}

.col-right-partner h4{
    padding-left: 20px;
}

.col-right-partner .secondary-button{
    margin-left: 40px;
    margin-top: 20px;
}

.business-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.business-card{
    width: 30%;
    margin-top: 40px;
    
}

.business-card img{
    width: 100%;
}

.business-card h4{
    margin-left: 0;
}

#scopri{
    margin-top: 40px;
}

.partners-section
{
    display: flex;
   margin-top: 120px;
    
}

.partners-col-left{
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    height: 33vw;
}

.arizona{
    width: 50%;
    height: 50%;
    background-color: #61082b;
    
}

.florida{
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    
}

.designit{
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
    
}
.designit-c{
    width: 50%;
    height: 50%;
    background-color: white;
    
}


.topps{
    width: 50%;
    height: 50%;
    color: white;
    background-color: #ff1c1c;
}   
.partners-col-central{
    
    width: 33vw;
    height: 33vw;
}

.partners-col-right{
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    height: 33vw;
}


.partners-section img{
    position: relative;
    
    top: 50%;
    width: 100%;
    filter: invert(100);

}