/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 78px;
    padding-top: 60px;
}

h2{
    font-size: 40px;
    padding-top: 120px;
}

h4{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

h5{
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}

h6{
    font-size: 15px;
    font-weight: 400;
}

.punti-salienti{
    font-size: 15px;
    font-weight: bold;
    margin: 30px;

}
.sub-price{
    font-size: 15px;
    
    margin: 20px;
}
/* COMMON */
.container-big{
   max-width: 1200px;
   margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
   
}

.row-hero{
    display: flex;
}

li{
    list-style: none;
    padding: 15px;
}

.primary-button{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: #0061ff;
    font-size: 15px;
    cursor:pointer;
    
}
.secondary-button{
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 15px;
    cursor:pointer;
}

/* MAIN */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header-left ul{
    display: flex;
    align-items: center;
    cursor:pointer;
}

.header-right ul{
    display: flex;
    align-items: center;
    cursor:pointer;
    
}

.hero{
    background-color: #b4d0e7;
}

.row-hero{
    margin-top: 10px;
}
.col-1-hero{
    width: 30%;
}

.col-2-hero{
    width: 70%;
}

.col-2-hero img{
    width: 100%;
    position: relative;
    
}

.annulla{
    
    margin-top: 30px;
}

.col-1-hero .primary-button{
    margin-top: 30px;
    font-size: 18px;
    
}

.fa-arrow-down{
    margin-top: 90px;
    font-size: 50px;
    
}

.row-hero{
    position: relative;
    bottom: -65px;
}

.radio{
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio span{
    padding-right: 20px;
}

.mensile{
    display: inline-block;
    margin-right: 20px;
}

.annuale{
    display: inline-block;
}

.checkbox{
    margin-top: 30px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.colonna-1{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-2{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-3{
    width: 30%;
    border: 1px solid lightgrey;
}

.colonna-4{
    width: 100%;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
}


.col-header{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.plan-details{
    padding: 10px;
}

hr{
    width: 60px;
    border: 0.2px solid lightgrey;
}

.fa-check{
    color: #0061ff;
    font-weight: bolder;
}

.features .primary-button{
    width: 100%;
}

.row-sub-plans{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.team-solutions{
    padding: 0;
    margin: 20px;
    max-width: 70%;
}

.col-sub-1{
    width: 50%;
}

.col-sub-2 .primary-button{
    padding: 10px 35px;
    margin-right: 20px;
}

.team-solutions span{
    margin-top: 10px;
    
}

.partner{
    display: flex;
}

.col-left-partner{
    width: 60%;
    margin-top: 60px;
}

.col-left-partner img{
    width: 100%;
}

.col-right-partner{
    width: 40%;
    margin-top: 100px;
}

.col-right-partner p{
    padding-left: 40px;
}

.col-right-partner h4{
    padding-left: 20px;
}

.col-right-partner .secondary-button{
    margin-left: 40px;
    margin-top: 20px;
}

.business-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.business-card{
    width: 30%;
    margin-top: 40px;
    
}

.business-card img{
    width: 100%;
    transition: all 2s;
}

.business-card img:hover{
    width: 100%;
    scale: 0.8;
}

.business-card h4{
    margin-left: 0;
}

#scopri{
    margin-top: 40px;
}

.partners-section
{
    display: flex;
   margin-top: 120px;
    
}

.partners-col-left{
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    height: 33vw;
}

.arizona{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #61082b;

}

.florida{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    
}

.designit{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
    
}



.designit-c{
    width: 50%;
    height: 50%;
    background-color: #f5f5f5;
    
}


.topps{
    position: relative;
    width: 50%;
    height: 50%;
    color: white;
    background-color: #ff1c1c;
}   
.partners-col-central{
    width: 33vw;
    height: 33vw;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.partners-col-right{
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    height: 33vw;
}


.partners-col-left img{
    
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    filter: invert(1);
    cursor: pointer;
    padding: 50px;
    transition: all 2s;

}

.partners-col-left img:hover{
    scale: 0.7;
    transform: rotate(360deg);
}

.partners-col-right img{
    
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    filter: invert(1);
    padding: 50px;
    transition: all 2s;
    cursor: pointer;
    

}

.partners-col-right img:hover{
    scale: 0.7;
    transform: rotate(360deg);
}


.partners-col-central img{
    
    
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    

}

li p{
    padding-left:20px;
}

.hr{
    padding-left:35px;
}

.bicycle{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #d5001f;

}

.hearst{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #b4d0e7;

}

.lonely-planet{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #0d2481;

}

.clear-channel{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #ffd830;

}

.row-blue{
    background-color: #b4d0e7;
}
.business-row-2{
    display: flex;
    justify-content: space-between;
    

}

.col-business-row-1{
    width: 50%;
}

.col-business-row-1 h2{
    padding-top: 0;
    margin-top:80px;
    margin-bottom:80px;
    color: #61082b;
}

.col-business-row-2 button{
    margin-top: 95px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

.faq{
    display:flex;
    justify-content: space-between;
}

.faq p{
    padding-left: 0;
}

.faq{
    padding-left: 0;
}

.faq-header{
    padding-top: 120px;
    padding-bottom: 40px;
}
.faq hr{
    width: 100%;
    border: 1px solid black;
    color: black;
}

footer{
    background-color: black;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
}

.col-footer h4{
    margin: 0;
    color: white;
    margin-top: 60px;
    margin-bottom: 10px;
    
}

.col-footer li{
    padding: 7px 0;
    color: white;
    
}

.col-footer span{
    cursor:pointer;

}

.language li{
    padding-left: 0;
}

.language hr{
    margin-top: 60px;
    width: 100px;
}

.language span{
    color: grey;
}

.fa-caret-up{
    cursor:pointer;
}

.fa-chevron-down{
    cursor: pointer;
}