/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 78px;
    padding-top: 60px;
}

h2{
    padding-top: 120px;
}

h4{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

h5{
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}

h6{
    font-size: 15px;
    font-weight: 400;
}

.punti-salienti{
    font-size: 15px;
    font-weight: bold;
    margin: 30px;

}
.sub-price{
    font-size: 15px;
    
    margin: 20px;
}
/* COMMON */
.container-big{
   max-width: 1200px;
   margin: auto;
}

.container-small{
    max-width: 1000px;
    margin: auto;
   
}

.row-hero{
    display: flex;
}

li{
    list-style: none;
    padding: 15px;
}

.primary-button{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: #0061ff;
    font-size: 15px;
}

/* MAIN */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.header-left ul{
    display: flex;
    align-items: center;
}

.header-right ul{
    display: flex;
    align-items: center;
    
}

.hero{
    background-color: #b4d0e7;
}

.row-hero{
    margin-top: 10px;
}
.col-1-hero{
    width: 30%;
}

.col-2-hero{
    width: 70%;
}

.col-2-hero img{
    width: 100%;
    position: relative;
    
}

.annulla{
    
    margin-top: 30px;
}

.col-1-hero .primary-button{
    margin-top: 30px;
    font-size: 18px;
    
}

.fa-arrow-down{
    margin-top: 90px;
    font-size: 50px;
    
}

.row-hero{
    position: relative;
    bottom: -65px;
}

.radio{
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio span{
    padding-right: 20px;
}

.mensile{
    display: inline-block;
    margin-right: 20px;
}

.annuale{
    display: inline-block;
}

.checkbox{
    margin-top: 30px;
}

.plans-row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.colonna-1{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-2{
    width: 30%;
    border: 1px solid lightgrey;
}
.colonna-3{
    width: 30%;
    border: 1px solid lightgrey;
}
.col-header{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.plan-details{
    padding: 10px;
}

hr{
    width: 60px;
    border: 0.2px solid lightgrey;
}

.fa-check{
    color: #0061ff;
    font-weight: bolder;
}

.features .primary-button{
    width: 100%;
}